.banner {
  background: url("https://image.freepik.com/free-photo/young-lady-use-cellphone-order-online-shopping-product-paying-bills-with-banking-app-with-transaction-successful-stay-house-quarantine-activity-fun-activity-coronavirus-prevention_7861-3270.jpg")
    no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: #fff;
}

.kotak {
  display: inline-block;
  border-radius: 10%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: white;
  background-color: red;
}

.kotak i {
  position: relative;
  top: 30px;
}

.team img {
  width: 250px;
  border: 10px solid #cccc;
}

.card{
  padding: 8px;
}
